- 
  var entries = [
    {
      index : 0,
      title: "Lua 5.3 Reference manual",
      template: "index",
      date: "22-07-2018"
    },{
      index : 1,
      title: "Programming with Lua 5.3",
      template: "index",
      date: "22-07-2018"
    }
  ]