doctype html
html(lang='en', dir='ltr')
  block vars
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Oromion | #{title}
    link(rel='stylesheet', href='../../../public/lib/sellesia/dist/css/sellesia-normalize.css')
    link(rel='stylesheet', href='../../../public/lib/sellesia/dist/css/sellesia.min.css')
      
    link(rel='stylesheet', href='../../../public/css/oromion/home.css')
  body
    block content
