/*
 * Colors
 */
green_1 = #45cb82
green_2 =  rgb(37,221,185)
body_bg_color_1 = rgb(28, 26, 26)
body_bg_color_2 = rgb(242, 242, 242)
body_bg_color_3  = rgb(96,88,85)
body_bg_color_4  = rgb(34, 32, 31)
body_color_1 = rgb(232, 232, 232)
body_color_2 = rgb(28, 26, 26)
/* ------------------------------------- */
body
  font-family: 'Inconsolata', monospace;
  // background: url("../../assets/images/bg.png")
  background: body_bg_color_1
  padding: 0px
  color: body_color_1
  margin: 0
  font-size: 14px

img
  width: 100%

h1,h2,h3,h4,h5,h6
  // font-family: 'Rhodium Libre', serif
  // background: green_1
  color: rgb(23, 23, 23)
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 20px

a
  display: block;
  line-height: 16px
