/*
@import 'colors'
@import 'main'

i
	position: absolute;
	top 6px
	left: 4px
	font-size: 14px
	margin: 0 10px
	color color_ico

p
	font-size: 14px

h6
	position: relative;
	text-transform: uppercase;
	font-size: 14px
	font-weight: bold
	padding: 10px 20px

body
	color negro
	background: white

// Copyright
.copyright
	text-align: center;

.copyright p
	margin: 0
	padding: 0
	color rgba(color_2, .5)
figure
	border: 2px solid red
*/
