.header
	position: relative;
	margin:  10px auto
	height: 140px
	text-align: center;

.btn-header
	position: absolute;
	left: 0
	right: 0
	margin: 0 auto
	text-align: right
	text-transform: uppercase;
	font-weight: bold
	color black
	border 2px solid color_2
	padding: 2px
	// margin: 5px auto
	text-transform: uppercase;
	font-size: 11px
	width: 100px


.btn-logo
	margin-top: 4px
	display: block;
	text-decoration: none
	color black
	text-align: center
	background: color_2
	line-height: 10px
	font-weight: bold

.btn-logo img
	margin -2px auto

.btn-main
	margin: 0 auto
	display: block;
	text-decoration: none
	color black
	text-align: center
	padding: 10px 10px
	background: color_2
	line-height: 10px
	font-weight: bold

.btn-header  img
	margin-top: -4px imp
	padding: 0 imp

.btn-border
	text-transform: uppercase;
	font-weight: bold
	color black
	border 2px solid color_2
	padding: 2px
	margin: 5px auto
	text-transform: uppercase;
	font-size: 11px
	max-width: 200px

.user
	margin: 10px auto
	opacity: 0.3
	transition: opacity .5s
	-webkit-transition: opacity .5s
	-moz-transition: opacity .5s
	-o-transition: opacity .5s


.details-sm
	font-size: 10px
	text-align: center
	max-width: 186px
	margin:  -5px auto
	// background: color_2
	color: color_2
	border-left 2px solid color_2
	border-bottom 2px solid color_2
	line-height: 20px
	padding:3px 10px

.details-lg
	font-size: 10px
	text-align: center
	max-width: 166px
	margin:  -5px auto
	// background: color_2
	color: color_2
	border-left 2px solid color_2
	border-bottom 2px solid color_2
	line-height: 10px
	padding: 3px 20px


.user:hover
	opacity: 1
	transition: opacity .5s
	-webkit-transition: opacity .5s
	-moz-transition: opacity .5s
	-o-transition: opacity .5s

.user:hover > .btn-border > .btn
	background: color_2
	color black

.btn
	margin: 0 auto
	display: block;
	text-decoration: none
	color color_2
	text-align: center
	// background: color_2
	line-height: 20px
	padding: 3px 50px 3px 50px
	font-weight: bold

.btn-lg
	margin: 0 auto
	display: block;
	text-decoration: none
	color black
	text-align: center
	background: color_2
	line-height: 10px
	padding: 3px 50px 3px 50px
	font-weight: bold

.navbar
	max-width: 425px




// DESCRIPTION
.title,
.post,
.description
	position: relative;
	margin: 40px auto;
	border-top: 2px solid color_2

.description h6
	display: block;
	background:  rgb(28, 26, 26)
	position: absolute;
	top -18px
	left 10%
