extends ../../partials/layout
block vars
  include ../../partials/data  
  
  //- Iteration Entries from partials/data.pug 
  - var title = "Vectores";
  -  for(var i = 0; i < entries.length; i++){
      if entries[i].title === title
        - var index = entries[i].index;
  - }
  
block content