header_bg = rgba(0,0,0,1)
imp = !important
// rgb(69, 203, 130)
color_1 = rgb(144, 121, 255)
color_2 = rgb(69, 203, 130)
color_ico = rgba(254, 15, 15, 0.91)

color_ii = rgb(251, 244, 72)

//Description
color_description_i = rgb(251, 244, 72)
bg_description_li = rgb(41, 38, 38)

color_body =  rgb(115, 240, 172)
bg_color = rgb(37, 34, 34)
