@import 'colors'
@import 'main'


p
	font-size: 14px
	padding: 0
	margin: 0
h6
	position: relative;
	text-transform: uppercase;
	font-size: 14px
	font-weight: bold
	padding: 10px 20px

.ii
	text-transform: uppercase;
	// font-weight: bold
	// color: rgb(32, 221, 62)
	color color_ii
	text-shadow: 0 0 1px color_2

li::before
	content: ''

body
	color color_body
	background: rgb(28, 26, 26)

// Copyright
.copyright
	text-align: center;

.copyright p
	margin: 0
	padding: 0
	color rgba(color_2, .5)
