.header
  //background-color #262526
  background-image url('../../images/bg-header-main-two.jpg')
  color white
  text-align: center
  padding: 30px 0 30px 0
  margin-bottom: 40px
  box-shadow 0 0 30px black