extends partials/layout
block vars
  - var title = 'Entradas'
block content 
  .container-fullwidth
    .header
      h1 #{title}
  .container
    ul 
      li
        a.link(href='/post/evn/post1.html') Post 1
