extends /layout
block vars
	//- include /partials/data
	- var title = 'Dimension R'
block content
	.container
		//- Menu
		//- include /partials/menu		
		
		//- Content
		.border-logo
			.logo
				img(src='/public/assets/images/dr.png', alt='Dimension R')
				a(href='/') dimension r
		//- h4 Falla rápido, falla a menudo.
		.content
			section.posts
				.post
					.about
						//- h2 Descripción
						.description
							p
								| Grupo dedicado a divulgar y aprender  las conexiones de la  Matemática y la Ciencia de la Computacíon.
			section.news
				.title
					h2 Noticias
					//- a(href='http://stem.uni.edu.pe/index.php/expociencia2018/' target='_blank')
				.event
					img(src='/public/assets/images/expo-afiche.png')
					.descript
						a.read-more(href='http://stem.uni.edu.pe/index.php/expociencia2018/' target='_blank') Ir a la página oficial.
							
						h3 Experimentos recomendados:
						a.exp(href='/public/assets/documents/Movimiento-browniano.pdf', target="_blank") Movimiento browniano
					
						a.exp(href='#') Modelamiento matemático de la reflexión de un objeto entre espejos
					

				
							
				
			section.users
				//- .user
				//- 	.figure
				//- 		img(src='/public/assets/images/renzo.jpg')
				//- 	a(href='#') Software design pattern
				//- 	.rol
				//- 		p Cofundador
				.title
					h2 Integrantes
				.user
					.figure
						img(src='/public/assets/images/freider.jpg')
					a(href='#') Estudiante de Ciencia de la computación
					.rol
						p Cofundador
				.user
					.figure 
						img(src='/public/assets/images/oromion.gif')
					a(href='#') Estudiante de matemática
					.rol
						p Cofundador
						
			section.info
				table
					tbody
						tr
							th Siglas:
							td GDR
						tr
							th tipo:
							td Interdisciplinario
						tr
							th fecha de fundación:
							td Julio del 2018
						tr
							th correo:
							td dimensionrgroup@gmail.com
							
			//- section.workshops
			//- 	.title
			//- 		h2 Talleres sobre:
			//- 	.workshop
			//- 		img(src='/public/assets/images/c++.png')
			//- 	.workshop
			//- 		img(src='/public/assets/images/js.png')
			//- 	.workshop
			//- 		img(src='/public/assets/images/latex.png')
	
			footer
				p © 2018 Dimension R - Powered by Selesia Boilerplate and GitHub Pages.
		
		
