doctype html
html.no-js(lang="es")
	head
		block vars
		meta(charset="utf-8")
		meta(name="google-site-verification" content="IUb9lLyjVj8A8WTSXfwNUrMrU0H8WP3phdwS4-ef_Io")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name='description' content='Dimension R Group')
		meta(name='keywords' content='dimension, r, ciencia, educación, actualidad, investigación')
		meta(name='author' content='Dimension R')
		link(rel="alternate" hreflang="pe" href="http://dimensionr.github.io" )
		title=title
		link(rel="apple-touch-icon" href="apple-touch-icon.png")
		block css
			//- link(href="https://fonts.googleapis.com/css?family=Inconsolata|Rhodium+Libre" rel="stylesheet")  
			link(rel='stylesheet', href='/public/assets/libs/sellesia/sellesia.css')
			link(rel="stylesheet" href='/public/css/aldnoahzero/aldnoahzero.theme.css')
				
		block js
			script(
				src="https://code.jquery.com/jquery-3.3.1.min.js"
				integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
				crossorigin="anonymous")
	body
		//-
				[if lt IE 8]>
				<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
				<![endif]
		block content
		
			//- Add your site or application content here
		script(src='/public/js/main.js')
