extends layout 
block content 
	.container-fullwidth
		.header
			.btn-header
				a.btn-logo(href='/')
					img(src='public/images/dr.png')
				a.btn-main(href='/') Dimension R
			//- .row.navbar
			//- 	.btn-border
			//- 		a.btn(herf='#') Projects
			//- 	.btn-border
			//- 		a.btn-lg(herf='#') Sellesia Css Boilerplate
			
		.users.container
			.row
				.user
					.btn-border
						a.btn(href='#') Debian 4ever
						a.btn-logo(href='/')
							img(src='public/images/renzo.jpg')
					h6.details-lg
						i.fas.fa-chalkboard
						| Software design pattern
				.user
					.btn-border
						a.btn(href='#') Freider
						a.btn-logo(href='/')
							img(src='public/images/freider.jpg')
					h6.details-lg
						i.fas.fa-chalkboard
						| Científico de la computación
				.user
					.btn-border
						a.btn(href='#') Oromion
						a.btn-logo(href='/oromion/post/index.html')
							img(src='public/images/oromion.gif')
					h6.details-sm
						i.fas.fa-chalkboard
						| Matemático			
				.user
					.btn-border
						a.btn(href='#') Evn	
						a.btn-logo(href='/evn/post/index.html')
							img(src='public/images/evn.png')
					h6.details-sm
						i.fas.fa-chalkboard
						| Privado
	
		.row
			.column
				.description
					h6 KaTeX
					p $$ x^2 y^{\prime\prime} + xy^{\prime} - 4y = 0 \qquad (1)$$
			.column
				.row
					.column
						.description
							h6 Descripción
							p 
								| El grupo ”Dimensión R” de investigación en matemáticas, ciencias de la computación y patrones de diseño viene funcionando desde el mes de julio del año 2018 en la Facultad de Ciencias de la Universidad Nacional de Ingeniería. Desde entonces ha tenido una trayectoria estable. Este equipo está estrechamente influenciado por los últimos avances con respecto a la tecnología en los siguientes tópicos:
							ul 
								li Lua
								li LaTeX
								li C 
								li C++ 
								li Qt
								li NodeJS
				.row
					.column
						.description
							h6 Grupo Dimensión R:
							p Siglas: GDRTipo: Interdisciplinario    
							p Fecha de fundación: Julio del 2018  
							p Coordinador: Salcedo Pajuelo, Renzo 
							p Correo del grupo: grupo.dimensionr@gmail.com

	script.
		renderMathInElement(
		document.getElementById("KaTeX"), {
			delimiters: [{
				left: "$$",
				right: "$$",
				display: true
			}, {
				left: "\\\[",
				right: "\\\]",
				display: true
			}, {
				left: "$",
				right: "$",
				display: false
			}, {
				left: "\\\(",
				right: "\\\)",
				display: false
			}]
		}
		);
		
	
//- .row
//- 	.column
//- 		.description
//- 			h6 Descripción
//- 			p 
//- 				| El grupo **”Dimensión R”** de investigación en matemáticas, ciencias de la computación y patrones de diseño viene funcionando desde el mes de julio del año 2018 en la Facultad de Ciencias de la Universidad Nacional de Ingeniería. Desde entonces ha tenido una trayectoria estable. Este equipo está estrechamente influenciado por los últimos avances con respecto a la tecnología en los siguientes tópicos:
//- 			ul 
//- 				li Lua
//- 				li LaTeX
//- 				li C 
//- 				li C++ 
//- 				li Qt
//- 				li NodeJS
//- .row
//- 	.column
//- 		.description
//- 			h6 Grupo Dimensión R:
//- 				p Siglas: GDRTipo: Interdisciplinario    
//- 				p Fecha de fundación: Julio del 2018  
//- 				p Coordinador: Salcedo Pajuelo, Renzo 
//- 				p Correo del grupo: grupo.dimensionr@gmail.com
