extends layout 
block content 
	.container-fullwidth
		.header
			.btn-header
				a.btn-logo(href='/')
					img(src='public/images/dr.png')
				a.btn-main(href='/') Dimension R
			//- .row.navbar
			//- 	.btn-border
			//- 		a.btn(herf='#') Projects
			//- 	.btn-border
			//- 		a.btn-lg(herf='#') Sellesia Css Boilerplate
			
		.users.container
			.row
				.user
					.btn-border
						a.btn(href='#') Debian 4ever
						a.btn-logo(href='/')
							img(src='public/images/renzo.jpg')
					h6.details-lg
						i.fas.fa-chalkboard
						| Software design pattern
				.user
					.btn-border
						a.btn(href='#') Freider
						a.btn-logo(href='/')
							img(src='public/images/freider.jpg')
					h6.details-lg
						i.fas.fa-chalkboard
						| Científico de la computación
				.user
					.btn-border
						a.btn(href='#') Oromion
						a.btn-logo(href='/oromion/post/index.html')
							img(src='public/images/oromion.gif')
					h6.details-sm
						i.fas.fa-chalkboard
						| Matemático			
				.user
					.btn-border
						a.btn(href='#') Evn	
						a.btn-logo(href='/evn/post/index.html')
							img(src='public/images/evn.png')
					h6.details-sm
						i.fas.fa-chalkboard
						| Privado
	
		.row
			.column
				.description
					h6 KaTeX
					p Utilización de KaTeX en el grupo para escribir texto científico.
					p $$ x^2 y^{\prime\prime} + xy^{\prime} - 4y = 0 \qquad$$
					p $$f(x) = \int_{-\infty}^\infty\hat f(\xi)\,e^{2 \pi i \xi x}\,d\xi$$
			.column
			
				
				.description
					h6 Descripción
					p 
						| El grupo ”Dimensión R” de investigación en matemáticas, ciencias de la computación y patrones de diseño viene funcionando desde el mes de julio del año 2018 en la Facultad de Ciencias de la Universidad Nacional de Ingeniería. Desde entonces ha tenido una trayectoria estable. Este equipo está estrechamente influenciado por los últimos avances con respecto a la tecnología en los siguientes tópicos:
						
					ul 
						li
							i.fas.fa-angle-right  
							|  Lua <br>
							.porcent
								.w-40
						li
							i.fas.fa-angle-right  
							|  LaTeX
							.porcent
								.w-70
						li
							i.fas.fa-angle-right  
							|  C 
							.porcent
								.w-50
					ul
						li
							i.fas.fa-angle-right 
							|  C++ 
							.porcent
								.w-50
						li
							i.fas.fa-angle-right 
							|  Qt
							.porcent
								.w-10
						li
							i.fas.fa-angle-right 
							|  NodeJS
							.porcent
								.w-60

		
				.description
					table.table
						tr 
							th Siglas:
							td GDR
						tr
							th Tipo:
							td Interdisciplinario
						tr 
							th Fecha de fundación:
							td Julio del 2018
						tr
							th Coordinador:
							td Salcedo Pajuelo, Renzo
						tr 
							th Correo del Grupo:
							td grupo.dimensionr@gmail.com
							
							
					h6 Información: 
					//- p 
					//- 	span.ii Siglas: 
					//- 	| GDR
					//- p 
					//- 	span.ii Tipo: 
					//- 	| Interdisciplinario    
					//- p 
					//- 	span.ii Fecha de fundación: 
					//- 	| Julio del 2018  
					//- p 
					//- 	span.ii Coordinador: 
					//- 	| Salcedo Pajuelo, Renzo 
					//- p 
					//- 	span.ii Correo del grupo: 
					//- 	| grupo.dimensionr@gmail.com

	script.
		renderMathInElement(
		document.getElementById("KaTeX"), {
			delimiters: [{
				left: "$$",
				right: "$$",
				display: true
			}, {
				left: "\\\[",
				right: "\\\]",
				display: true
			}, {
				left: "$",
				right: "$",
				display: false
			}, {
				left: "\\\(",
				right: "\\\)",
				display: false
			}]
		}
		);
		
	
