doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://raw.githubusercontent.com/evenhold/sellesia/master/dist/css/selesia.min.css?token=AGYcNb21J-GzbgvEPu327oZus_JgXaTzks5bV-oVwA%3D%3D')
    title Dimension R
    link(href='https://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet')
    style(media='screen').
      body{
      font-family: "Inconsolata";
      }
  body
    block content
