.header {
  background-image: url("../../images/bg-header-main-two.jpg");
  color: #fff;
  text-align: center;
  padding: 30px 0 30px 0;
  margin-bottom: 40px;
  box-shadow: 0 0 30px #000;
}
body {
  color: #000;
}
