.content
  padding: 0px 10px
  margin: 20px 0 0 0
section
  margin: 0px auto 60px auto;


.description-expo
  // border: 2px solid green_1
  text-align: justify;
  padding: 0px 24px
  // margin: 10px auto;
  font-weight: bold;
  max-width: 720px
  margin: 0 auto;
  // background: rgb(0, 0, 0)
  p
    margin-top: 40px
    font-size: 16px
    padding: 0 30px
    color: white
    padding: 0px 10px
  h1
    border-bottom: 4px solid rgba(green_1, 0.3);
    padding: 10px 0
    color: rgb(255, 255, 255)
    margin: 0px 0px 30px 0px
  h2
    color rgb(132, 19, 210)
    text-align: center;
    line-height: 36px
    margin: 10px auto;
  h3
    color green_1
    line-height: 36px
    margin: 26px auto;
