.content
  padding: 0px 10px
  margin: 20px 0 0 0
section
  margin: 0px auto 60px auto;


.description-expo
  // border: 2px solid green_1
  text-align: left;
  padding: 20px 14px
  // margin: 10px auto;
  font-weight: bold;
  max-width: 560px
  margin: 0 auto;
  background: rgb(252, 252, 252)
  p
    font-size: 20px
    color: black
  h2
    color rgb(83, 0, 189)
    line-height: 36px
    margin: 26px auto;
  h3
    color rgb(1, 91, 111)
    line-height: 36px
    margin: 26px auto;
