.border-logo
  position: relative;
  top -15px
  width: 100px
  margin: 0 auto;
  border: 2px solid green_1
  box-shadow: 0 0 5px green_1
  transition: all 1s
  &:hover
    top 0
    transition: all 1s
.logo
  border: 2px solid black
  a
    // border: 2px solid yellow
    font-size: 12px
    display: block;
    background: green_1
    text-transform: uppercase;
    text-decoration: none
    padding: 5px 0
    text-align: center;
    color: black
    font-weight: bold;
