.border-logo
  // position: relative;
  // top -10px
  width: 120px
  margin: 0 auto;
  border: 2px solid green_2
  box-shadow: 0 0 5px green_2

.logo
  border: 2px solid black
  a
    // border: 2px solid yellow
    font-size: 12px
    display: block;
    background: green_2
    text-transform: uppercase;
    text-decoration: none
    padding: 12px 0
    text-align: center;
    color: black
    font-weight: bold;
