.news
  height: auto
  text-align: center;
.title
  text-align: left;
  border-bottom: 2px solid rgba(green_1, 0.4)
  margin: 40px 0
  h2
    font-size: 14px
    color: white
    padding: 10px 0
    background: rgba(green_1, 0.2)
    text-align: center;
    border-left: 2px solid rgba(green_1, 0.4)
    border-right: 2px solid rgba(green_1, 0.4)
    border-top: 2px solid rgba(green_1, 0.4)
    width: 180px

.event
  text-decoration: none;
  border: 2px solid rgba(green_1, 0.2)
  padding: 4px
  // margin: 10px 5px;
  max-width: 480px
  height: auto;
  opacity: 1
  transition: all 1s
  -moz-transition: all 1s
  -webkit-transition: all 1s
  -o-transition: all 1s
  display: inline-block;
  &:hover
    opacity: 1
    transition: all 1s
    -moz-transition: all 1s
    -webkit-transition: all 1s
    -o-transition: all 1s


.read-more
  // background: green_1
  display: block;
  height: auto;
  max-width: 480px
  text-align: center;
  color white
  opacity: .5
  text-decoration: none
  transition: all 1s
  -moz-transition: all 1s
  -webkit-transition: all 1s
  -o-transition: all 1s
  &:hover
    opacity: 1
    // background: rgb(255, 255, 255)
    transition: all 1s
    -moz-transition: all 1s
    -webkit-transition: all 1s
    -o-transition: all 1s
.exp
  display: block;
  background: white
  text-decoration: none
  padding: 10px
  font-size:  15px
  color: black
  font-weight: bold
  margin: 10px auto;
  text-transform: uppercase;
  text-align: center;
