
.post
  max-width: 320px
  margin: 0px auto 10px auto;
  border: 2px solid rgba(green_1, .4)
  padding: 2px
  // h1,h2,h3,h4,h5,h6
  //   background: rgb(0, 0, 0)
  //   color: rgb(255, 255, 255)
  //   padding: 5px 20px

.about
  padding: 10px
  background: rgba(green_1, .2)
  color: rgb(230, 233, 232)

.description
  padding: 0px 5px
  text-align: justify;
