table
  margin: 0px auto;
  width: 100%
  max-width: 620px
  // border: 1px solid rgba(green_1, 0.4)
  th
    text-align: left;
    text-transform: uppercase;
    color: rgb(247, 230, 75)
  td
    color: rgb(198, 198, 198)
  td,th
    background: rgba(green_1, 0.1)
    padding: 10px
    border: 1px solid rgba(green_1, 0.6)
