extends ../../partials/layout
block vars
	include ../../partials/data  

	//- Iteration Entries from partials/data.pug 
	- var title = "Programming in Lua 5.3";
	-  for(var i = 0; i < entries.length; i++){
			if entries[i].title === title
				- var index = entries[i].index;
	- }
	
block content
	title Adaptación del libro Programming in Lua 5.3
	
	h1 Empecemos

	h2 Para empezar, primero tenemos que instalar Lua 5.3 en nuestro ordenador.