extends ../../partials/layout
block vars
	include ../../partials/data  

	//- Iteration Entries from partials/data.pug 
	- var title = "Programming in Lua 5.3";
	-  for(var i = 0; i < entries.length; i++){
			if entries[i].title === title
				- var index = entries[i].index;
	- }

block content
	head
		title Adaptación del libro Programming in Lua 5.3
	body
		h1 Empecemos
			p Para empezar, primero tenemos que instalar Lua 5.3 en nuestro ordenador. Así que nos dirigimos a la web oficial.
		h2 Nuestro primer programa
			p Crearemos un hola mundo con lua.
			code print("Hola mundo")
			//-Este es un comentario.
		h3 Conociendo a Lua
		p Lua es actualmente. Quién usa Lua. Lua empezó en 1993, a día de hoy está celebrando 25 años. Tecgraf fue un proyecto de la universidad. Auspacidado por Petrobras

			Se deseo crear un lenguaje mínimo y consistente con algunostipos de estrcuturas tradicionales como como bucles, condicionales	y funciones, etc.

			a(href='https://www.youtube.com/watch?v=Nw_GE6yKo8E') TUG 2018 - Conference - Roberto Ierusalimschy
