extends ../../partials/layout
block vars
	include ../../partials/data  

	//- Iteration Entries from partials/data.pug 
	- var title = "Programming in Lua 5.3";
	-  for(var i = 0; i < entries.length; i++){
			if entries[i].title === title
				- var index = entries[i].index;
	- }

block content
	.container-fullwidth
		.header
			.title
				h1 #{title}
				.description
					p En este post vamos a mostrar los pasos de instalación de Lua en ordenador basado en Debian y mostraremos algunos algoritmos sencillos en programación con elementos como funciones, arreglos y entrado de datos, luego mostraremos algunos ejemplos con sintáxis Lua embebidos en un programa $\TeX$.
					p $$\int$$
	.container
		.body
			h2 Instalación de Lua
				p  Para empezar, primero tenemos que instalar Lua 5.3 en nuestro ordenador. Así que nos dirigimos a la web oficial. Nuestro primer programa Crearemos un hola mundo con lua.
				code print("Hola mundo")
			//-Adaptación del libro Programming in Lua 5.3 y el manual de Referencia de Lua
			h2 Conociendo a Lua
				p Lua es actualmente. Quién usa Lua. Lua empezó en 1993, a día de hoy está celebrando 25 años. Tecgraf fue un proyecto de la universidad. Auspacidado por Petrobras. Se deseo crear un lenguaje mínimo y consistente con algunostipos de estrcuturas tradicionales como como bucles, condicionales	y funciones, etc.
					a(href='https://www.youtube.com/watch?v=Nw_GE6yKo8E') TUG 2018 - Conference - Roberto Ierusalimschy
						img.image(src="../../../../../public/images/lua25.gif", alt="https://www.lua.org/")
			h2 $\LaTeX$ y Lua
			h2 Referencias
				.references
	script.
		renderMathInElement(
		document.getElementById("KaTeX"), {
			delimiters: [{
				left: "$$",
				right: "$$",
				display: true
			}, {
				left: "\\\[",
				right: "\\\]",
				display: true
			}, {
				left: "$",
				right: "$",
				display: true
			}, {
				left: "\\\(",
				right: "\\\)",
				display: true
			}]
		}
		);
