extends ../partials/layout
block vars
  include ../partials/data
  - 
    var title = "Entradas";
block content 
  .container-fullwidth
    .header
      h1 #{title}
  .container
    ul
      each val in entries
        li
          a.link(href= val.directory + '/' + val.template + '.html') #{val.title}
